* {
    padding: 0;
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
    background-color: #222;
}

.main-container {
    width: 400px;
    background-color: #fff;
    height: auto;
    padding: 25px 35px;
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 10px;
    transform: translate(-50%, -50%);
}

.main-container p {
    font-size: 20px;
    font-weight: bolder;
    padding: 24px 0px;
}

.main-container button {
    padding: 17px 37px;
  width: 100%;
  margin: 12px 4px;
  height: auto;
  background-color: #494eea;
  cursor: pointer;
  color: white;
}

.main-container input {
    outline: 0;
    outline: 0;
    padding: 8px;
    margin: 11px 0px 21px;
    width: 98%;
}

.img_styling{
    left: 31%;
  position: relative;
  margin: 15px 0px 0px;
}